[Unit]
Description=Crypto Dezire Cash's distributed currency daemon
After=network.target

[Service]
User=HCASH
Group=HCASH

Type=forking
PIDFile=/var/lib/HCASHd/HCASHd.pid

ExecStart=/usr/bin/HCASHd -daemon -pid=/var/lib/HCASHd/HCASHd.pid \
          -conf=/etc/HCASH/HCASH.conf -datadir=/var/lib/HCASHd

ExecStop=-/usr/bin/HCASH-cli -conf=/etc/HCASH/HCASH.conf \
         -datadir=/var/lib/HCASHd stop

Restart=always
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=2s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
